<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="https://i.imgur.com/0I7G9yD.jpg">

<div class="row">
    <div class="col-md-4">
        <a href="/Home/ViewRecipes" class="Button">Start Planning</a>
        <p>Use our planner to begin your journey to leading an healthy life </p>
        <a><img class="img-responsive" src="https://i.imgur.com/YxCpVDr.jpg" title="source: imgur.com" width="460" height="345" /></a>
    </div>
    <div class="col-md-8">
        <h1 align="center" font size="60" face="Georgia Header">Healthy You</h1>       
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Home/Planner" class="Button">View Planner</a>
        <p>
            View your planner and calorie intake.
            Manage your meals everyday
        </p>
        <a><img class="img-responsive" src="https://i.imgur.com/NOdRojB.jpg" title="source: imgur.com" width="460" height="370" /></a>
    </div>
    <div class="col-md-8">
        <p class="lead" font face="verdana" >Healthy You helps to plan your meals by monitoring your calorie intake . Through Healthy You , we make Australia happier and healthier</p>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <a href="/Home/ViewGyms" class="Button">Gyms</a>
            <p>
                Know which Gym to join using our Gym feedback.
                Find the right Gym for you
            </p>
            <a><img class="img-responsive" src="https://i.imgur.com/R96sexu.jpg" title="source: imgur.com" width="460" height="380" /></a>
        </div>
    </div>

    <style>
        .jumbotron {
            background-color: transparent !important;
        }

        .col-md-4 {
            background-color: black;
            width: 300px;
            padding: 25px;
            margin: 25px;
            color: white;
        }
    </style>
</body>